<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    <%- include('common/header'); %>


    <h1>Hello <%=user.name%></h1>
    <h2>you are from <%=user.place%></h2>
    <h2>your passion is <%=user.passion%></h2>
    <h2>you're currently learning <%=user.learning%></h2>

    <ul>
        <% user.skills.forEach((item)=> {%>
            <li>
                <%= item%>
            </li>
        <% })%>
    </ul>

</body>
</html>